html,
body {
    font-size: 13px;
    line-height: 1.7;
    background: #f7f8fa;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #afbdcf;
}

::-moz-placeholder {
    font-size: 14px;
    color: #afbdcf;
}


/* firefox 19+ */

:-ms-input-placeholder {
    font-size: 14px;
    color: #afbdcf;
}


/* ie */

input:-moz-placeholder {
    font-size: 14px;
    color: #afbdcf;
}

