$df-lblue: #0d78e9;
$df-blue: #0e74dd;
$df-dblue: #095fb4;
$df-llblue: #eff6fa;
$df-ddblue: #259;
$df-graylblue: #6c829f;
$df-graydblue: #698ebf;
$df-dark: #222;
$df-mdark: #666;
$df-lgray: #999;


/*
  新页面的颜色
*/
$n-llgray:#f0f2f7;
$n-lgray: #9fadc7;
$n-gray: #8590a6;
$n-blue: #0f88eb;
