@import 'color';
@mixin border-bottom($color: $n-llgray, $height: 1px, $is-list: true) {
    border-bottom: $height solid $n-llgray;
    @if $is-list==true {
        &:last-child {
            border: none;
        }
    }
}

@mixin border-top($color: $n-llgray, $height: 1px, $is-list: true) {
    border-top: $height solid $n-llgray;
    @if $is-list==true {
        &:first-child {
            border: none;
        }
    }
}

@mixin icon($url, $x, $y) {
    background-position: $x $y;
    background-image: url($url);
    background-repeat: no-repeat;
}

@mixin bold-title($height: -1, $font-size: 15px) {
    font-size: $font-size;
    @if $height !=-1 {
        height: $height;
    }
    line-height: $height;
    font-weight: 700;
}

@mixin inverted-triangle($size: 10px, $brd-color: #e7eaf1, $bg-color: #fff) {
    &:before {
        position: absolute;
        top: -$size;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-bottom: $size solid $brd-color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-radius: 1px;
    }
    &:after {
        position: absolute;
        content: '';
        top: -$size + 1px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: $size solid $bg-color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-radius: 1px;
    }
}
