@import 'color';
@import 'mixin';
.icon {
    fill: #9fadc7;
    vertical-align: text-bottom;
}

// 多个button tools 的样式
.func-bar {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 52px;
    .button-item {
        margin-left: 24px;
        color: #8590a6;
        &:hover {
            color: #7a8599;
        }
        &:first-child {
            margin-left: 0;
        }
        &.primary-button {
            padding: 0 15px;
            border: 1px solid #ebf3fb;
            border-radius: 3px;
            box-sizing: border-box;
            line-height: 32px;
            color: #2d84cc;
            background: #ebf3fb;
            &:hover {
                background-color: #e4ebf3;
                border-color: #e4ebf3;
            }
        }
        &.light-button {
            margin-left: 0;
            padding: 0 10px;
            border: 1px solid #ebf3fb;
            border-radius: 3px;
            line-height: 32px;
            opacity: .5;
            color: #2d84cc;
            background: #ebf3fb;
            &:hover {
                background: initial;
            }
        }
        &.last-one {
            margin-left: auto;
            svg {
                transform: rotate(180deg);
            }
        }
        svg {
            margin-right: 6px;
            fill: currentColor;
            vertical-align: text-bottom;
        }
    }
}

// 遍历列表
.list-header {
    display: flex;
    height: 50px;
    align-items: center;
    @include border-bottom;
    .list-link {
        padding: 6px 0 7px 0;
        margin-right: 36px;
        font-size: 15px;
    }
    .router-link-active {
        @include bold-title;
    }
}

// 垂直遍历的列表
.list-item {
    padding: 16px 0;
    @include border-bottom;
}

// 内容样式
.content {
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    &:hover {
        color: #6f6f6f;
    }
}

// 带点的标识，非button
.item {
    margin-top: 5px;
    color: $n-lgray;
    font-size: 14px;
    cursor: initial;
    &:before {
        margin: 0 5px;
        content: "\B7";
    } //对第一个修改样式
    &:first-child {
        &:before {
            display: none;
        }
    }
}

.bold-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    cursor: pointer;
}

// 较大的标题
.max-title {
    line-height: 1.6;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}

// 阅读全文的样式
.read-full {
    margin-left: 4px;
    color: #9fadc7;
    background: none;
    cursor: pointer;
    svg {
        margin-left: 6px;
        fill: currentColor;
        vertical-align: text-bottom;
    }
}

// 头像
.avatar {
    width: 60;
    height: 60;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
}
