* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

input,
textarea,
button {
  outline: none;
  border: 0;
}

.clearfix:before, clearfix:after {
  content: '';
  display: table;
  clear: both;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
